.page-header
  %h1= "#{@project.name}: Manager Members"

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @project.name, project_path(@project)
  %li.active Membership

- if current_user.owner_admin?(@project)
  .row
    - if @membership.errors.present?
      .form-group
        .col-md-7
          .alert.alert-danger
            %h3
              = pluralized(@membership.errors.count, "error")
              prohibited this form from being saved
            %ul
              -@membership.errors.full_messages.each do |message|
                %li= message

  .row
    = form_for [@project, @membership], html: {class: "form-inline"} do |f|
      .col-md-7
        .well
          = f.collection_select(:user_id, User.all, :id, :full_name, {prompt: "Please select a user..."}, {class:'form-control'})
          = f.collection_select(:role, Membership::ROLE, :to_s, :to_s, {}, {class: 'form-control'})
          = f.submit "Add New Member", class: "btn btn-primary"

.row
  .col-md-7
    %table.table
      %tbody
        - @project.memberships.each do |membership|
          %tr
            - if membership.id
              = form_for [@project, membership], html: {class: "form-inline"} do |f|
                %td= link_to "#{membership.user.full_name}", user_path(membership.user)
                - if current_user.owner_admin?(@project)
                  %td= f.collection_select(:role, Membership::ROLE, :to_s, :to_s, {}, {class: "form-control"})
                  %td= f.submit "Update", class: "btn btn-primary"
                - else
                  %td= membership.role.downcase
                - if current_user.owner_admin?(@project) || current_user.id == membership.user_id
                  - if @project.memberships.where(role:"Owner").count == 1 && membership.role == "Owner"
                    %td You are the last owner
                  - else
                    %td= link_to "", project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove"
                - else
                  %td
