<h1>Edit Task</h1>

<%= form_for @task do |f| %>
  <div>
    <%= f.label :description  %>
  </div>
  <div>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit "Update Task" %>
  </div>
<% end %>
  <div>
    <%= link_to 'Show', tasks_path(@task) %>
    |
    <%= link_to 'Back', tasks_path(@tasks) %>
  </div>
