<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Task', new_project_task_path, class:"btn btn-info" %>
  </div>
  <h1>Tasks for <%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path(@projects) %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Tasks</li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Due On</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="col-md-1">
          <% if task.complete %>
            <s><%= link_to task.description, project_task_path(@project, task) %></s>
          <% else %>
            <%= link_to task.description, project_task_path(@project, task) %>
          <% end %>
      </td>
      <td class="col-md-1">
        <%= task.due_date.try(:strftime ,"%m/%d/%Y") %>
      </td>
      <td class="col-md-2 text-right">
        <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>
        <%= link_to 'Delete', project_task_path(@project, task), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
