<div class="page-header">
  <h1>New Task</h1>
</div>

<div>
  <h3>Description</h3>
  <% @tasks.each do |task| %>
  <p><%= link_to task.description, task_path(task) %></p>
  <% end %>
</div>
<ul class="list-inline">
  <li><%= link_to 'New Task', new_task_path(@task) %></li>
  <li><%= link_to 'Show', tasks_path(@task) %></li>
  <li><%= link_to 'Edit Task' %></li>
  <li><%= link_to 'Destroy', tasks_path(@task), method: :delete, data: {confirm: "Are you sure?"} %></li>
</ul>
