<div class="page-header">
  <h1>New Task</h1>
</div>

<%= form_for @task do |f| %>
<div>
  <%= f.label :description  %>
</div>
<div>
  <%= f.text_field :description %>
</div>
<div>
  <%= f.submit "Create Task" %>
</div>
<% end %>
<%= link_to "Back", tasks_path(@tasks) %>
