= form_for @user, html: {class: "form-horizontal"} do |f|

  = render partial: "shared/errors", locals: {object: @user}

  .form-group
    = f.label :first_name, class: "col-md-2 control-label"
    .col-md-6
      = f.text_field :first_name, class: "form-control"

  .form-group
    = f.label :last_name, class: "col-md-2 control-label"
    .col-md-6
      = f.text_field :last_name, class: "form-control"

  .form-group
    = f.label :email, class: "col-md-2 control-label"
    .col-md-6
      = f.email_field :email, class: "form-control"

  .form-group
    = f.label :password, class: "col-md-2 control-label"
    .col-md-6
      = f.password_field :password, class: "form-control"

  .form-group
    = f.label :password_confirmation, class:"col-md-2 control-label"
    .col-md-6
      = f.password_field :password_confirmation, class: "form-control"

  .form-group
    = f.label :tracker_token, class: "col-md-2 control-label"
    .col-md-6
      = f.text_field :tracker_token, class: "form-control"

  - if current_user.admin
    .form-group
      .checkbox
        .col-md-10.col-md-offset-2
          %label
            = f.check_box :admin
            = f.label :admin

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit name_of_button, class: "btn btn-primary"
      = link_to 'Cancel', users_path, class:"btn btn-default"
