<div class="page-header">
  <% if current_user.id == @user.id || current_user.admin %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-info" %>
    </div>
  <% end %>
  <h1>
    <%= @user.first_name %> <%= @user.last_name %>
  </h1>
</div>
<dl class="dl-horizontal">
  <dt>
    First Name
  </dt>
  <dd>
    <%= @user.first_name %>
  </dd>
  <dt>
    Last Name
  </dt>
  <dd>
    <%= @user.last_name %>
  </dd>
  <% if current_user.admin || current_user.project_member_of(@user) %>
  <dt>
    Email
  </dt>
  <dd>
    <%= mail_to @user.email %>
  </dd>
  <dt>
    Pivotal Tracker Token
  </dt>
  <dd>
    <% if @user.tracker_token? %>
      <%= @user.tracker_token.gsub(/.(?<=.....)/, '*') %>
    <% end %>
  </dd>
<% end %>
</dl>
