.jumbotron
  %h1 gCamp
  %p Your life, organized.

.col-1-3
  %p.lead= image_tag("two.jpg", class: "img-responsive")
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        Tasks
    .panel-body
      %p Grouped by projects and lists. Just the way you like'em.
.col-1-3
  %p.lead= image_tag("one.jpg", class: "img-responsive")
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        Permissions
    .panel-body
      %p Fine-grained permissions
.col-1-3
  %p.lead= image_tag("three.jpg", class: "img-responsive")
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        Comments
    .panel-body
      %ul
        %li Comments on tasks and documents
        %li Get email notifications

- @quotes.each do |author, quote|
  %p= "\"#{quote}\""
  %p.text-muted
    %em= "\-#{author}"
