.well.col-md-6.col-md-offset-3
  .page-header
  %h2 Sign into gCamp

  = form_tag signin_path do |f|

    - if flash[:warning]
      %h5.text-danger= flash[:warning]

    .form-group
      = label_tag :email, "Email", class: "control-label"
      = email_field_tag :email, "", class: "form-control"

    .form-group
      = label_tag :password, "Password", class: "control-label"
      = password_field_tag :password, "", class: "form-control"

    .form-group
      = submit_tag "Sign In", class: "btn btn-default"
