= form_for @project, html: {class: "form-horizontal"} do |f|

  = render partial: "shared/errors", locals: {object: @project}

  .form-group
    = f.label :name, class: "col-md-2 control-label"
    .col-md-6
      = f.text_field :name, class: "form-control"

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit name_of_button, class: "btn btn-primary"
      = link_to 'Cancel', projects_path(@projects), class: "btn btn-default"
      
