<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Project", new_project_path(@project), class: "btn btn-info" %>
  </div>
  <h1>Projects</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Tasks
      </th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.admin %>
      <% @projects_admin.each do |project| %>
        <tr>
          <td class="col-md-6">
            <%= link_to project.name, project %>
          </td>
          <td class="col-md-3">
            <%= link_to project.tasks.count, project_tasks_path(project) %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% @projects.each do |project| %>
      <tr>
        <td class="col-md-6">
          <%= link_to project.name, project %>
        </td>
        <td class="col-md-3">
          <%= link_to project.tasks.count, project_tasks_path(project) %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="page-header">
  <h1>Pivotal Tracker Projects</h1>
</div>

<table class= "table">
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tracker_projects.each do |project| %>
      <tr>
        <td class= "col-md-6">
          <%= link_to project[:name], tracker_project_path( project[:id], project_name: project[:name]) %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
