.page-header
  - if current_user.owner_admin?(@project)
    .pull-right
      = link_to 'Edit', edit_project_path(@project), class: "btn btn-info"
  %h1= @project.name

%ol.breadcrumb
  %li= link_to 'Projects', projects_path(@project)
  %li.active= @project.name

%div
  %p= link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project)

%div
  %p= link_to pluralize(@project.memberships.count, "Membership"), project_memberships_path(@project)

- if current_user.owner_admin?(@project)
  .well
    %h3 Delete Project
    %p= "Deleting this project will aslo delete #{pluralize(@project.memberships.count, "membership")}, #{pluralize(@project.tasks.count, "task")} and associated comments."
    = link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
