<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>
<div>
  <ul>
    <% @quotes.each do |quote| %>
      <li><%= link_to quote.question, "##{quote.slug}" %></li>
    <% end %>
  </ul>
</div>

<div class ="container-fluid">
  <div class="row">
    <% @quotes.each do |quote| %>
    <%= content_tag :a, '', name: quote.slug %>
    <h3><%= quote.question %></h3>
    <p> <%= quote.answer %> </p>
    <div><%= link_to "top", "#" %></div>
    <% end %>
  </div>
</div>
