<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>
<div>
  <ul>
    <% @qa[0].each do |question, slug| %>
      <li><%= link_to question, "##{slug}" %></li>
    <% end %>
  </ul>
</div>
<div class ="container-fluid">
  <div class="row">
    <% @qa[1].each do |question, answer| %>
    <%= content_tag :a, '', name: question.parameterize %>
    <h3><%= question %></h3>
    <p> <%= answer %> </p>
    <div><%= link_to "top", "#" %></div>
    <% end %>
  </div>
</div>
