<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%= link_to "gCamp", "/", class:"navbar-brand" %>
    </div>
  </nav>

  <div class="container">

  <% if flash[:notice] %>
  <div class="alert alert-success text-center"><%= flash[:notice] %></div>
  <% end %>

<%= yield  %>

  <footer>
      <div class="page-header"></div>
        <div class="row">
          <div class="col-xs-6">
            <%= link_to "About", "/about" %>
            |
            <%= link_to "Terms", "/terms" %>
            |
            <%= link_to "FAQ", "/faq" %>
            |
            <%= link_to "Tasks", "/tasks" %>
            |
            <%= link_to "Users", "/users" %>
            |
            <%= link_to "Projects", "/projects" %>
          </div>
          <div class="col-xs-6">
            <%= link_to image_tag("galvanize.png", :alt => "Galvanize", :class => "links"), "https://students.gschool.it/students/291" %>
            <%= link_to image_tag("github.png", :alt => "GitHub", :class => "links"), "https://github.com/steve970" %>
            <%= link_to image_tag("twitter.png", :alt => "Twitter", :class => "links"), "http://www.twitter.com/originalgilbert" %>
            <%= link_to image_tag("linked_in.jpg", :alt => "LinkedIn", :class => "links"), "http://www.linkedin.com/in/stevenhirschhorn" %>
          </div>
        </div>
    </div>
  </footer>
</div>

</body>
</html>
